h1, p {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    padding-top: 50px;
}

/*MEDIA QUERIES*/

@media(max-width: 768px) {
    #header .pitch {
        text-align: center;
    }
}

/*END OF MEDIA QUERIES*/

/*NAVBAR*/

.navbar a:hover {
    color: #165591 !important;
}

.icon-bar {
    background-color: #2196f3;
}

.navbar-brand {
    font-size: 2em;
}

.navbar {
    background-color: rgba(0,0,0, 0.8);

}

/*END OF NAVBAR*/

/*HEADER SECTION*/

#header {
    padding: 160px 0 60px 0;
    /*background: url('libs/img/bg.jpg') center center no-repeat;*/
    background: url('libs/img/pexels-photo-1696852.jpg') center center no-repeat;
    background-size: cover;

    width: 100%;
}

#header .pitch {
    margin-bottom: 80px;
}

#header .pitch .text {
    padding: 30px 0;
}

#header p {
    color: white;
}

#header h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 5em;
    color: white;
}

#header p {
    font-size: 1.5em;
}
/*END OF HEADER SECTION*/

/*ABOUT SECTION*/

#about h2 {
    color: #2196f3;
    letter-spacing: 1.6px;
    font-weight: 900;
}

#about .quoted-text {
    font-size: 1.5em;
    padding-top: 25px;
}

/*END OF ABOUT SECTION*/

/*FEATURES SECTION*/

.col-md-4 .image-container {
    margin-bottom: 30px !important;
}

#features {
    background-color: #2196f3;
    color: white;
    text-align: center;
    padding-bottom: 45px;
}

#features h2, #features h4 {
    color: white;
    letter-spacing: 1.6px;
    font-weight: 900;
}

.features-title {
    margin-bottom: 30px;
}

.image-container {
    margin-bottom: 30px;
}

/*END OF FEATURES SECTION*/

/*PRESS SECTION*/

#press h2 {
    color: #2196f3;
    letter-spacing: 1.6px;
    font-weight: 900;
}

#press {
    text-align: center;
}

#press .logos {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

#press .logos img {
    opacity: 0.3;
}

#press .logos img:hover {
    opacity: 1;
}

/*END OF PRESS SECTION*/