body {
    position: relative;
}

h1, p {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    padding-top: 50px;
}

/*MEDIA QUERIES*/

@media(max-width: 768px) {
    #header .pitch {
        text-align: center;
    }
}

/*END OF MEDIA QUERIES*/

/*NAVBAR*/

.navbar a {
    color: #2196f3 !important;
}

.navbar-default .navbar-nav > .active > a {
    background-color: white !important;
}

.navbar a:hover {
    color: #165591 !important;
    background-color: white !important;
}

.icon-bar {
    background-color: #2196f3;
}

.navbar-brand {
    font-size: 2em;
}

.navbar {
    background-color: rgba(0,0,0, 0.8);

}

/*END OF NAVBAR*/

/*HEADER SECTION*/

.header {
    position: relative;
    padding: 160px 0 60px 0;
    /*background: url('libs/img/bg.jpg') center center no-repeat;*/
    background: url('libs/img/pexels-photo-1696852.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;

}

.header:after, .header:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.header:after {
    border-top-color: #4d4d4d;
    border-width: 30px;
    margin-left: -30px;
}

.header .pitch {
    margin-bottom: 80px;
}

.header .pitch .text {
    padding: 30px 0;
}

.header p {
    color: white;
}

.header h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 5em;
    color: white;
    padding-top: 0;
}

.header p {
    font-size: 1.5em;
}
/*END OF HEADER SECTION*/

/*ABOUT SECTION*/

.about h2 {
    color: #2196f3;
    letter-spacing: 1.6px;
    font-weight: 900;
}

.about h3 {
    color: #2196f3;
    letter-spacing: 1.6px;
    font-weight: 900;
}

.about .quoted-text {
    font-size: 1.5em;
    padding-top: 25px;
}

/*END OF ABOUT SECTION*/

/*FEATURES SECTION*/

.col-md-4 .image-container {
    margin-bottom: 30px !important;
}

.features {
    background-color: #2196f3;
    color: white;
    text-align: center;
    padding-bottom: 45px;
    position: relative;
}

.features:after, .features:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.features:after {
    border-top-color: #2196f3;
    border-width: 30px;
    margin-left: -30px;
}

.features h2, .features h4 {
    color: white;
    letter-spacing: 1.6px;
    font-weight: 900;
}

.features-title {
    margin-bottom: 30px;
}

.image-container {
    margin-bottom: 30px;
}

/*END OF FEATURES SECTION*/

/*PRESS SECTION*/

.press h2 {
    color: #2196f3;
    letter-spacing: 1.6px;
    font-weight: 900;
}

.press {
    text-align: center;
    padding-bottom: 40px;
}

.press .logos {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.press .logos img {
    opacity: 0.3;
}

.press .logos img:hover {
    opacity: 1;
}

/*END OF PRESS SECTION*/

/*SCREENS*/

.screens {
    text-align: center;
    background-color: #1e5ca5;
    padding-bottom: 50px;
    position: relative;
}

.screens:after, .screens:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.screens:after {
    border-top-color: #1e5ca5;
    border-width: 30px;
    margin-left: -30px;
}

.screens h2 {
    color: white;
    letter-spacing: 1.6px;
    font-weight: 900;
}

.screens p {
    color: white;
    margin-bottom: 30px;
}

.screens .col-xs-6 {
    padding-bottom: 25px;
}

/*END OF SCREENS*/

/*REVIEWS SECTION*/

.reviews {
    text-align: center;
    padding-bottom: 30px;
}

.reviews h2 {
    color: #2196f3;
    letter-spacing: 1.6px;
    font-weight: 900;
}

.reviews blockquote {
    margin-top: 35px;
    margin-bottom: 35px;
}

/*END OF REVIEWS*/

/*BUY SECTION*/

.buy {
    text-align: center;
    background-color: #183a74;
    padding-bottom: 40px;

}

.buy h2 {
    color: white;
    letter-spacing: 1.6px;
    font-weight: 900;
}

.buy p {
    color: white;
    margin-bottom: 35px;
}

.buy button {
    background: transparent;
    border: none;
    margin-bottom: 20px;
}

/*END OF BUY*/

/*CONNECT SECTION*/

.connect {
    text-align: center;
    padding-bottom: 40px;
    position: relative;
    background: white;
}

.connect:after, .connect:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.connect:after {
    border-top-color: white;
    border-width: 30px;
    margin-left: -30px;
}

.connect h2 {
    color: #142142;
    letter-spacing: 1.6px;
    font-weight: 900;
}

.connect p {
    margin-bottom: 35px;
}

.connect .icons .fa {
    margin-right: 10px;
    color: #142142;
    border: 1px solid #142142;
    padding: 10px;
    border-radius: 25%;
    transition: all 0.3s linear;
    margin-bottom: 20px;
}

.connect .fa-facebook {
    padding: 10px 20px !important;
}

.connect .icons .fa:hover {
    color: white;
    background-color: #142142;
}

.connect .fa {
    color: #142142;
}

/*END OF CONNECT*/

/*FOOTER*/

#footer {
    background-color: #0a1624;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}

footer h4 {
    color: white;
}

#footer a {
    color: white;
}

/*END OF FOOTER*/